{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}


{% block content %}
        <div class="container-fluid">
            <div class="row">
            <img style="width:100vw;height:80vh;background-repeat: no-repeat;background-position: 50% 0;background-size:cover;background-attachment: fixed;"
             src="{% static 'image/CrossRoads1.png' %}" alt="">     
            </div>
        </div>
        <div class="py-4">
          <div class="container">
            <div class="row">
              <div class="col-10 mx-auto my-2 text-center">
                <h1 class="text-capitalize font-weight-bold">
                All Books
                </h1>
              </div> 
            </div>
          </div>  
        </div>

    <div class="container">
        <div class="row">
            {% for product in queryset %}
            <div class="col-9 mx-auto col-md-6 col-lg-3">
                <div class="card mb-5" style="border-color: transparent;">
                    <div class="p-4">
                    <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                    </a>
                    </div>
                    <div class="card-footer d-flex justify-content-between"
                    style="background: transparent; border-color: transparent;">
                      <p class="font-weight-bold mb-0">
                      {{product.name}}
                      </p>
                    <h5 class="text-info font-italic mb-0">
                        <span class="mr-1">Rs</span>{{product.price}}
                    </h5>
                    </div>  
                </div>
            </div>
            {% endfor %}
        </div>

            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if queryset.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>
                {% if queryset.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>

    </div>                

    


{% endblock %}